header {
  h1 {
    margin-bottom: 3rem;
  }
}

main {
  .bienvenida__container {
    .aviso__contrasena {
      font-size: 12px;
    }
  }

  .forms__container {
    .registro__form {
      .btn__crear-usuario {
        width: fit-content;
        height: fit-content;
      }
    }

    .ingreso__form {
      .btn__iniciar-sesion {
        width: fit-content;
        height: fit-content;
      }
    }
  }

  .chat__container {
    width: 100%;
    margin: auto;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;

    .messages__container {
      width: fit-content;

      .message {
        border-top: 1px solid;
        margin-bottom: 1rem;

        .username__text {
          font-weight: 700;
          font-size: 14px;
        }
      }
    }

    .send-message__form {
      position: fixed;
      bottom: 0vh;
      left: 50%;
      transform: translate(-50%, -50%);

      input {
        width: 30rem;
      }

      .btn__send-message {
        width: fit-content;
      }
    }
  }

  .alert__sesion {
    .alert {
      width: fit-content;
    }
  }

  .alert__sesion--message {
    .alert {
      width: fit-content;
    }
  }
}

footer {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 576px) {
  header {
    h1 {
      margin-bottom: 1rem;
    }

    aside {
      margin-bottom: 1rem;
    }
  }

  main .chat__container {
    .send-message__form {
      input {
        width: 20rem;
      }
    }
  }
}

// .btn {
//   width: fit-content;
// }
