main {
  .bienvenida__container {
    .aviso__contrasena {
      font-size: 12px;
    }
  }

  .forms__container {
    .registro__form {
      .btn__crear-usuario {
        width: fit-content;
        height: fit-content;
      }
    }

    .ingreso__form {
      .btn__iniciar-sesion {
        width: fit-content;
        height: fit-content;
      }
    }
  }

  .chat__container {
    width: 100%;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;

    .messages__container {
      width: fit-content;

      .message {
        border-top: 1px solid;
        margin-bottom: 1rem;

        .username__text {
          font-weight: 700;
          font-size: 14px;
        }
      }
    }

    .send-message__form {
      position: fixed;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%, -50%);

      textarea {
        width: 30rem;
        resize: none;
      }

      .btn__send-message {
        width: fit-content;
      }
    }
  }

  .alert__sesion {
    .alert {
      width: fit-content;
    }
  }

  .alert__sesion--message {
    .alert {
      width: fit-content;
    }
  }
}

footer {
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// .btn {
//   width: fit-content;
// }
